---
title: 8000038 GDPR anak verifikasi akun
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 01/24/2019
ms.locfileid: "29474943"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Tanggal lahir yang ditampilkan dalam Microsoft account tidak benar

Microsoft sangat memperhatikan keamanan account. Anda telah baru-baru ini telah diminta untuk memberikan izin orang tua untuk anak Microsoft account. Jika Anda memerlukan bantuan memberikan izin orangtua atau memperbarui tanggal lahir pada rekening Microsoft, melihat [verifikasi umur untuk izin orang tua](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Pelajari lebih lanjut tentang [izin orang tua dan Microsoft akun anak](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

