---
title: Verifikasi EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946736"
---
# <a name="edu-verification"></a>Verifikasi EDU

Dalam kebanyakan kasus, permintaan kelayakan akademik diproses dalam 24-48 jam. Beberapa permintaan mungkin memerlukan peninjauan yang lebih mendalam dan dapat membutuhkan waktu hingga 10 hari kerja untuk diproses. Setelah selesai, kami akan mengirimkan email dengan status kelayakan sekolah Anda.

**Penting** Jika Anda keluar dari wizard verifikasi sebelum memasukkan domain, Anda dapat [melanjutkan wizard verifikasi akademik](https://go.microsoft.com/fwlink/p/?linkid=2135255) kapan saja selama uji coba gratis.

Jika ingin memeriksa status domain Anda, buka [pusat admin Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Di halaman beranda, gulir ke bawah dan temukan kartu **Penagihan**. Kartu **Penagihan** menunjukkan status proses verifikasi (disetujui, tertunda, ditolak, atau menambahkan domain Anda).

Jika permintaan ditolak, lihat [Sekolah saya tidak memenuhi syarat. Apa yang harus saya lakukan sekarang?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)