---
title: Verifikasi EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205270"
---
# <a name="edu-verification"></a><span data-ttu-id="a7577-102">Verifikasi EDU</span><span class="sxs-lookup"><span data-stu-id="a7577-102">EDU verification</span></span>

<span data-ttu-id="a7577-103">Dalam kebanyakan kasus, permintaan kelayakan akademis diproses dalam waktu 24-48 jam.</span><span class="sxs-lookup"><span data-stu-id="a7577-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="a7577-104">Beberapa permintaan mungkin memerlukan peninjauan yang lebih menyeluruh dan dapat berlangsung hingga 10 hari kerja untuk diproses.</span><span class="sxs-lookup"><span data-stu-id="a7577-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="a7577-105">Setelah selesai, kami akan mengirim email dengan status kelayakan sekolah Anda.</span><span class="sxs-lookup"><span data-stu-id="a7577-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="a7577-106">**Penting** Jika Anda keluar dari Wizard verifikasi sebelum memasuki domain, Anda dapat [melanjutkan Wisaya verifikasi akademik](https://go.microsoft.com/fwlink/p/?linkid=2135255) Kapan saja selama masa uji coba gratis.</span><span class="sxs-lookup"><span data-stu-id="a7577-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="a7577-107">Jika Anda ingin memeriksa status domain Anda, kunjungi [Pusat admin Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="a7577-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="a7577-108">Di halaman Beranda, scroll ke bagian bawah dan temukan kartu **penagihan** .</span><span class="sxs-lookup"><span data-stu-id="a7577-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="a7577-109">Kartu **penagihan** menunjukkan status proses verifikasi (disetujui, tertunda, ditolak, atau ditambahkan domain Anda).</span><span class="sxs-lookup"><span data-stu-id="a7577-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="a7577-110">Jika permintaan Anda ditolak, lihat [sekolah saya tidak memenuhi syarat. Apa yang harus saya lakukan sekarang?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="a7577-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>