---
title: Verifikasi EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205270"
---
# <a name="edu-verification"></a>Verifikasi EDU

Dalam kebanyakan kasus, permintaan kelayakan akademis diproses dalam waktu 24-48 jam. Beberapa permintaan mungkin memerlukan peninjauan yang lebih menyeluruh dan dapat berlangsung hingga 10 hari kerja untuk diproses. Setelah selesai, kami akan mengirim email dengan status kelayakan sekolah Anda.

**Penting** Jika Anda keluar dari Wizard verifikasi sebelum memasuki domain, Anda dapat [melanjutkan Wisaya verifikasi akademik](https://go.microsoft.com/fwlink/p/?linkid=2135255) Kapan saja selama masa uji coba gratis.

Jika Anda ingin memeriksa status domain Anda, kunjungi [Pusat admin Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Di halaman Beranda, scroll ke bagian bawah dan temukan kartu **penagihan** . Kartu **penagihan** menunjukkan status proses verifikasi (disetujui, tertunda, ditolak, atau ditambahkan domain Anda).

Jika permintaan Anda ditolak, lihat [sekolah saya tidak memenuhi syarat. Apa yang harus saya lakukan sekarang?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)