---
title: Verifikasi EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814375"
---
# <a name="edu-verification"></a><span data-ttu-id="ad36e-102">Verifikasi EDU</span><span class="sxs-lookup"><span data-stu-id="ad36e-102">EDU verification</span></span>

<span data-ttu-id="ad36e-103">Dalam kebanyakan kasus, permintaan kelayakan akademik diproses dalam 24-48 jam.</span><span class="sxs-lookup"><span data-stu-id="ad36e-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="ad36e-104">Beberapa permintaan mungkin memerlukan peninjauan yang lebih mendalam dan dapat membutuhkan waktu hingga 10 hari kerja untuk diproses.</span><span class="sxs-lookup"><span data-stu-id="ad36e-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="ad36e-105">Setelah selesai, kami akan mengirimkan email dengan status kelayakan sekolah Anda.</span><span class="sxs-lookup"><span data-stu-id="ad36e-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="ad36e-106">**Penting** Jika Anda keluar dari wizard verifikasi sebelum memasukkan domain, Anda dapat [melanjutkan wizard verifikasi akademik](https://go.microsoft.com/fwlink/p/?linkid=2135255) kapan saja selama uji coba gratis.</span><span class="sxs-lookup"><span data-stu-id="ad36e-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="ad36e-107">Jika ingin memeriksa status domain Anda, buka [pusat admin Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="ad36e-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="ad36e-108">Di halaman beranda, gulir ke bawah dan temukan kartu **Penagihan**.</span><span class="sxs-lookup"><span data-stu-id="ad36e-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="ad36e-109">Kartu **Penagihan** menunjukkan status proses verifikasi (disetujui, tertunda, ditolak, atau menambahkan domain Anda).</span><span class="sxs-lookup"><span data-stu-id="ad36e-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="ad36e-110">Jika permintaan ditolak, lihat [Sekolah saya tidak memenuhi syarat. Apa yang harus saya lakukan sekarang?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="ad36e-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>