---
title: 8000038 GDPR anak verifikasi akun
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400972"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Tanggal lahir yang ditampilkan dalam Microsoft account tidak benar

Microsoft sangat memperhatikan keamanan account. Anda telah baru-baru ini telah diminta untuk memberikan izin orang tua untuk anak Microsoft account. Jika Anda memerlukan bantuan memberikan izin orangtua atau memperbarui tanggal lahir pada rekening Microsoft, melihat [verifikasi umur untuk izin orang tua](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Pelajari lebih lanjut tentang [izin orang tua dan Microsoft akun anak](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

