---
title: 8000038 GDPR anak verifikasi akun
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524414"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Tanggal lahir yang ditampilkan dalam Microsoft account tidak benar

Microsoft sangat memperhatikan keamanan account. Anda telah baru-baru ini telah diminta untuk memberikan izin orang tua untuk anak Microsoft account. Jika Anda memerlukan bantuan memberikan izin orangtua atau memperbarui tanggal lahir pada rekening Microsoft, melihat [verifikasi umur untuk izin orang tua](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Pelajari lebih lanjut tentang [izin orang tua dan Microsoft akun anak](https://go.microsoft.com/fwlink/p/?linkid=874365).
  