---
title: verifikasi akun anak GP8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707966"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Tanggal lahir yang ditampilkan di akun Microsoft Anda tidak benar

Microsoft sangat memperhatikan keamanan akun. Anda mungkin baru diminta untuk memberikan persetujuan orang tua untuk akun Microsoft anak. Jika Anda memerlukan bantuan untuk memberikan persetujuan orang tua atau memperbarui tanggal lahir pada akun Microsoft, lihat [verifikasi usia untuk persetujuan orang tua](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Pelajari selengkapnya tentang [persetujuan orang tua dan akun Microsoft Child](https://go.microsoft.com/fwlink/p/?linkid=874365).
  