---
title: Memecahkan masalah verifikasi Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885057"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Masalah terkait verifikasi Publisher untuk pengembang

**Langkah yang direkomendasikan** 

Untuk mengatasi masalah yang terkait dengan verifikasi Publisher, lakukan langkah-langkah di bawah ini:

1. Tinjau prasyarat dan persyaratan lainnya untuk memastikan semuanya terpenuhi.
2. Tinjau instruksi untuk [menandai aplikasi sebagai Publisher yang diverifikasi](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) dan pastikan semua langkah telah berhasil dilakukan.
3. Tinjau daftar [masalah umum](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) dan ikuti langkah yang dianjurkan jika Anda memiliki masalah dari daftar tersebut.
4. Mereproduksi permintaan menggunakan [grafik Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) untuk mengumpulkan informasi tambahan dan mengesampingkan masalah apa pun di UI.

**Dokumen yang disarankan**

- [Verifikasi Publisher-gambaran umum](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Menandai aplikasi Anda sebagai Publisher Verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Memecahkan masalah verifikasi Publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

