---
title: Memecahkan masalah verifikasi Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: id-ID
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885057"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="ee3a2-102">Masalah terkait verifikasi Publisher untuk pengembang</span><span class="sxs-lookup"><span data-stu-id="ee3a2-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="ee3a2-103">**Langkah yang direkomendasikan**</span><span class="sxs-lookup"><span data-stu-id="ee3a2-103">**Recommended steps**</span></span> 

<span data-ttu-id="ee3a2-104">Untuk mengatasi masalah yang terkait dengan verifikasi Publisher, lakukan langkah-langkah di bawah ini:</span><span class="sxs-lookup"><span data-stu-id="ee3a2-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="ee3a2-105">Tinjau prasyarat dan persyaratan lainnya untuk memastikan semuanya terpenuhi.</span><span class="sxs-lookup"><span data-stu-id="ee3a2-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="ee3a2-106">Tinjau instruksi untuk [menandai aplikasi sebagai Publisher yang diverifikasi](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) dan pastikan semua langkah telah berhasil dilakukan.</span><span class="sxs-lookup"><span data-stu-id="ee3a2-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="ee3a2-107">Tinjau daftar [masalah umum](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) dan ikuti langkah yang dianjurkan jika Anda memiliki masalah dari daftar tersebut.</span><span class="sxs-lookup"><span data-stu-id="ee3a2-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="ee3a2-108">Mereproduksi permintaan menggunakan [grafik Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) untuk mengumpulkan informasi tambahan dan mengesampingkan masalah apa pun di UI.</span><span class="sxs-lookup"><span data-stu-id="ee3a2-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="ee3a2-109">**Dokumen yang disarankan**</span><span class="sxs-lookup"><span data-stu-id="ee3a2-109">**Recommended documents**</span></span>

- [<span data-ttu-id="ee3a2-110">Verifikasi Publisher-gambaran umum</span><span class="sxs-lookup"><span data-stu-id="ee3a2-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="ee3a2-111">Menandai aplikasi Anda sebagai Publisher Verified</span><span class="sxs-lookup"><span data-stu-id="ee3a2-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="ee3a2-112">Memecahkan masalah verifikasi Publisher</span><span class="sxs-lookup"><span data-stu-id="ee3a2-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

